<nav class="col-sm-3 col-md-2 hidden-xs-down sidebar ms-sidebar ">
<ul class="nav nav-pills flex-column ms-nav  ms-nav-top">
  <li class="nav-item"  role="presentation">
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/users" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-users" aria-hidden="true"></i> Users</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/users/create"> <i class="fa fa-user-plus" aria-hidden="true"></i> Add user</a>
  </li>
</ul>
</nav>      
