<app-menu></app-menu>
<div class="container">
<div class="row justify-content-center">
	<div class="col-md-4"><br/><br/><br/><br/><br/>	
		<form [formGroup]="loginForm" (ngSubmit)="ngSubmit(loginForm.value)">
			<div class="form-group">
					<p *ngFor="let alert of alerts ">
						<ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
					</p>
			</div>
			<div class="form-group">
				<input type="email" class="form-control"  formControlName="email" id="email" placeholder="Enter email" name="email" ngModel required>
					<div class="alert text-danger" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">This Field is Required && Valid Email.</div>	
			</div>
			<div class="form-group">
				<input type="password" class="form-control" formControlName="password" id="pwd" placeholder="Enter password" name="password" ngModel required>
				<div class="alert text-danger" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">This Field is Required and minimum length 6</div>
			</div>
			<div class="checkbox">
				<label><input type="checkbox" name="remember"> Remember me</label>
			</div>
			<i>User: admin@example.com</i><br/>
			<i>Pass: 123456</i>
			<button type="submit" [disabled]="!loginForm.valid"  class="btn btn-primary btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</button>
			
		</form>
		<a class="pull-right pointer" (click)="showForm = true">Forgot password?</a>
			<div *ngIf="showForm">
				<form [formGroup]="forgetForm" (ngSubmit)="ForgetEmail(forgetForm.value)">					
					<div class="form-group">
						<input type="email" class="form-control"  formControlName="email" id="email" placeholder="E-Mail Address" name="email" ngModel required>
							<div class="alert text-danger" *ngIf="!forgetForm.controls['email'].valid && forgetForm.controls['email'].touched">Please Enter Valid Email.</div>	
					</div>
					
					<button type="submit" [disabled]="!forgetForm.valid"  class="btn btn-primary btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Send me an Email</button>
					
					
				</form>

			</div>

			<br/><br/><br/>
	</div>
</div>
</div>
<app-footer></app-footer>



