<!-- Pre Loader -->
<!--div id="loader"></div-->
<!-- Color Swicher -->
<!-- Header -->
<div class="ms-landing-page">
  
<header id="home" class="welcome-hero-area">
  <div class="header-top-area">
     <div class="row">
      
      <div class="app-menu">
        <app-menu></app-menu>
      </div>
      
      </div>
  </div>
  <!-- Start Slider Area -->
  <div class="home-slider-area">
    <div id="welcome-slide-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#welcome-slide-carousel" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox"> 
        <!-- Start Single Slider Item -->
        <div class="item active">
          <div class="single-slide-item slide-1">
            <div class="single-slide-item-table">
              <div class="single-slide-item-table-cell">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h2>ngb-laravel JWT</h2>
                      <h3 id="fontWhite">Angular 6, Bootstrap 4 & laravel 5.4 CRUD</h3>
						<a pageScroll [routerLink]="['/laravel-doc']" class="slide-btn smoth-scroll" href="#contactus">Laravel doc</a> <a class="slide-btn smoth-scroll" [routerLink]="['/angular-doc']" href="#aboutus">Angular doc</a> 
					  
					  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider Item--> 
       
         
      <!--  <a class="left welcome-control" href="#welcome-slide-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="right welcome-control" href="#welcome-slide-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a> </div>-->
    </div>
  </div>
	</div>
  <!-- End Slider Area --> 
</header>
<!-- About Us Start -->
 
<!-- Testimonials Wrapper Start -->
<section id="Application" class="services" >
  <div class="container">
    <div class="row justify-content-center ">
      <div class="section-title justify-content-md-center">
        <h2>Build your application with ease.</h2>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <p style="font-size: 1.4375em;">		
		ngb-laravel provides a set of tools and services which allow you 
		to quickly add and enable authentication, authorisation and user management to your application.
		
		</p>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials Wrapper End --> 

<!-- Services Start -->
<section id="Service" class="ourteam">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="section-title ">
       <h2>Our Features</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">    
      <div class="single-service"> <span class="service-bar"></span>
        <div class="service-icon"> <i class="fa fa-sign-in" aria-hidden="true"></i> </div>
        <h4><a href="">JWT Login</a></h4>
        <p>
         User login and sign up with latest security practices applied, including Token-Based Authentication for angular and Laravel Apps.
          </p>         
      </div>
    </div>
  <div class="col">
    <!--<i class="fa fa-connectdevelop" aria-hidden="true"></i>-->
    <div class="single-service"> <span class="service-bar"></span>
      <div class="service-icon"> <i class="fa fa-cogs" aria-hidden="true"></i> </div>
      <h4><a href="">Microservice</a></h4>
      <p>Microservice architecture resolved these complexities. Microservices are quickly gaining traction and considered as a key enabler for improving the delivery process.</p>         
    </div>
  </div>
  <div class="col">
    <div class="single-service"> <span class="service-bar"></span>
      <div class="service-icon"> <i class="fa fa-window-restore" aria-hidden="true"></i> </div>
      <h4><a href="">Cross Platform</a></h4>
      <p>From the very beginning, cross-platform capability has been one of our standard requirements at Airtame. It is our ultimate goal for users to be able to stream from any platform at any time.</p>         
    </div>
  </div>
  </div>
  <!-- end first row -->

</div>
</section>
<!-- Services End --> 


<!-- How it works Start -->
<!--<section id="Videolink" class="services" >
  <div class="container">
    <div class="row justify-content-md-center">
    <div class="section-title ">
       <h2>HOW IT'S WORK</h2>
    </div>
  </div>
<br/>

  <div class="row">
    <div class="col-md-6">
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wMuNjnNyaiA" allowfullscreen></iframe>
        </div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>        
      </div>
      </div>

     <div class="col-md-6">
      <div class="card">      
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Bj4gS1JQzjk" allowfullscreen></iframe>
        </div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>        
      </div>
      </div>
  </div>-->
<!--<br/><br/>
   <div class="row">
    <div class="col-md-6">
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wMuNjnNyaiA" allowfullscreen></iframe>
        </div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>        
      </div>
      </div>

     <div class="col-md-6">
      <div class="card">      
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Bj4gS1JQzjk" allowfullscreen></iframe>
        </div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>        
      </div>
      </div>
  </div>-->


<!--</div>
</section>-->
<!-- How it's works' End --> 


<!-- Package Start -->
<!--<section id="Packages" class="ourteam" >
  <div class="container">
    <div class="row justify-content-md-center">
    <div class="section-title ">
       <h2>COURSE PACKAGES</h2>
    </div>
  </div>
<br/>

  <div class="row">
    <div class="col-md-6">
    <div class="card">

        <div class="row justify-content-md-center">
        <div class="section-title ">
          <br>
         <h3>Starter Course</h3>
         <br>
        </div>
      </div>
        
        <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" alt="Image cap [100%x180]"
         src="../assets/images/maxresdefault.jpg" data-holder-rendered="true" style="width: 100%; display: block;">        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        
        <div class="card-block"> 
          <a href="#"  class="btn btn-warning text-black">GET THE STARTER COURSE | $89</a> 
        </div>
      </div>
      </div>


       <div class="col-md-6">
    <div class="card">

        <div class="row justify-content-md-center">
        <div class="section-title ">
          <br>
         <h3>Master Package</h3>
         <br>
        </div>
      </div>
        
        <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" alt="Image cap [100%x180]"
         src="../assets/images/maxresdefault.jpg" data-holder-rendered="true" style="width: 100%; display: block;">        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        
        <div class="card-block"> 
          <a href="#"  class="btn btn-warning text-black">GET THE STARTER COURSE | $89</a> 
        </div>
      </div>
      </div>

  </div>


</div>
</section>-->
<!-- Package End --> 




<!-- Testimonials Wrapper Start -->
<!--<section id="testimonials" class="testimonials-wrapper">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Client Testimonials</h2>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
		-->
	
		
          <!-- Testimonials Indicators -->
         <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>-->
          <!-- Testimonials slides -->
          <!--<div class="carousel-inner" role="listbox">
            <div class="item active">
              <blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make specimen book.</p>
                <img src="images/testimonials1.png" alt="">
                <h3>- Michal Marek <span>General manager</span></h3>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make specimen book.</p>
                <img src="images/testimonials2.png" alt="">
                <h3>- Mary Williams <span>Service manager</span></h3>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make specimen book.</p>
                <img src="images/testimonials3.png" alt="">
                <h3>- Michal Marek <span>General manager</span></h3>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Testimonials Wrapper End --> 

<!-- Contact Us Start   contactus -->
<section id="contactus" class="contactus">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-title">
        <h2>Contact <span>Us</span></h2>

        <span class="heading-line"></span> </div>
    </div> 
      <div class="row justify-content-center">
       
            <div class="col-2">
              <div class="single-contact"> <i class="fa fa-mobile" aria-hidden="true"></i>
                <h4>Mobile</h4>
                <p>+8801925021645</p>
              </div>
            </div>
            <div class="col-2">
              <div class="single-contact"> <i class="fa fa-address-card-o" aria-hidden="true"></i>
                <h4>Address</h4>
                <p>Dhaka, Bangladesh</p>
              </div>
            </div>
            <div class="col-2">
              <div class="single-contact"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <h4>Email</h4>
                <p>mmmasumbillah@gmail.com</p>
              </div>
            </div>
          
          <!-- /end contact-info --> 
        
      </div>
       <br/><br/><br/>
      <div class="row justify-content-center">
        <div class="col-8">
          <form action="" method="post" class="contact-form">
            <div class="row justify-content-center">
              <div class="form-group col-md-6 col-sm-6">
                <input class="form-control" placeholder="Your Name*" required type="text">
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <input class="form-control" placeholder="Your Email*" required type="email">
              </div>
              <div class="form-group col-md-12 col-sm-12">
                <textarea placeholder="Your Message*" class="form-control" rows="7" required></textarea>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="action-submit text-center">
                  <input class="btn btn-default btn-contact" value="Send Message" type="submit">
                </div>
              </div>
            </div>
          </form>
		  
          <!-- /end contact-form --> 
        </div>
      </div>
    </div>
  <br/><br/><br/><br/>
</section>
<!-- Contact Us End --> 

<!-- Copy Rights Start -->

</div>
<app-footer></app-footer>